<h1>Examples</h1>
<table>
  <tr>
    <th> Date </th>
    <th> Title </th>
    <th> Examples </th>
  </tr>

  <% @examples.each do |example| %>
  <tr>
    <td><%= example.created_at %></td>
    <td><a href="<%= example.url %>"><%= example.title %></a></td>
    <td><%= example.text %></td>
  </tr>
  <% end %>
</table>
